.bodyBackground {
  background-image: radial-gradient(pink, black); }

h1 {
  color: #f2f54c;
  font-size: 70px;
  font-family: "Playfair Display", serif;
  text-align: center; }

.font {
  font-family: "Playfair Display", serif;
  color: #f2f54c; }

.font2 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: #f2f54c; }

.textCenter {
  text-align: center; }

.size {
  font-size: 40px; }

.footerFont {
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-align: center;
  color: #f2f54c;
  font-size: 30px; }

.listaTiendaOnline {
  text-align: left;
  list-style-type: circle; }

a {
  text-decoration: none;
  color: #f2f54c; }

.parallax {
  background-image: url("../img/portada toien.jpg");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px; }

img:hover {
  transform: scale(1.5);
  transition-duration: 0.5s; }

.datos1, .datos2, .datos3 {
  margin: 5px; }

.datos4 {
  margin-top: 10px; }

.flexTrabajos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.infoFlex {
  display: flex;
  align-items: center; }
