header  {
    position: sticky;  /* intente darle position sticky como dijo el profe en clase pero no logro que quede el menu en sticky */
     
} 

.bodyBackground {
    background-color: rgb(0, 0, 0);
}

h1  {
    color: rgb(242, 245, 76);
    /* background-color: rgba(128, 66, 66, 0.603); */
    font-size: 70px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    
}

.font {
    font-family: 'Playfair Display', serif;
    color: rgb(242, 245, 76);
}

.font2  {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: rgb(242, 245, 76);
}

.textCenter {
    text-align: center;
}

.menuFlex  {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    
}

.listaMenu  {
    margin-right: 10px;
    
}

.size   {
    font-size: 40px;
}

.footerFont {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    color: rgb(242, 245, 76);
    font-size: 30px;
        
}

.listaTiendaOnline  {
    text-align: left;
    list-style-type: circle;
    
} /* tuve que hacer esta lista porque al cambiar el formato de las ul me cambiaba tambien esta lista */

a   {
    text-decoration: none;
    color: rgb(242, 245, 76);
}

.parallax { /* se ve solo en una pantalla chica por ahora jaja*/

    background-image: url("../img/portada\ toien.jpg");
    height: 600px;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom:50px;
}


.datos1 {
    margin: 5px;
}

.datos2 {
    margin: 5px;
}

.datos3 {
    margin: 5px;
}

.datos4 {
    margin-top: 10px;
}

.card1-flex {
    display: flex;
}

#grid {
    display: grid;
    grid-template-areas:
        "header header"
        "titulo titulo"
        "logo info"
        "footer footer";
    grid-template-rows: 1px 200px 1fr 60px;
    grid-template-columns: auto;
    row-gap: 10px;
    column-gap: 10px;
}

header#headerGrid {
    grid-area: header;
}

h1#h1Grid {
    grid-area: titulo;
}

div#logo {
    grid-area: logo;
}

div#info {
    grid-area: info;
}

footer  {
    grid-area: footer;
}

#grid2 {
    display: grid;
    grid-template-areas:
        "header"
        "titulo"
        "trabajos"
        "footer";
    
    grid-template-columns: auto;
    row-gap: 10px;
    column-gap: 10px;
}

header#headerGrid2 {
    grid-area: header;
}

h1#h1Grid2 {
    grid-area: titulo;
}

div#trabajos {
    grid-area: trabajos;
}

.flexTrabajos   {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.infoFlex   {
    display: flex;
    align-items: center;
}


@media (max-width: 1023px){
    #grid {
        grid-template-columns: repeat(2, 1fr);
    }
    #grid2  {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media  (max-width: 768px)  {
    #grid   {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #logo   {
        max-width: fit-content;
        align-items: center;
    }
    #info   {
        text-align: center;
    }
    #grid2  {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .trabajo1   {
        max-width: fit-content;
    }
    .trabajo2   {
        max-width: fit-content;
    }
    .trabajo3   {
        max-width: fit-content;
    }
    .trabajo4   {
        max-width: fit-content;
    }
}

@media (max-width: 320px)   {
    
}

