@import "variables";
@import "tipografias";

.bodyBackground {
    background-image: $color-fondo;
}

h1  {
    color: $color-textos;
    font-size: 70px;
    font-family: $fuente-principal;
    text-align: center;
    
}

.font {
    font-family: $fuente-principal;
    color: $color-textos;
}

.font2  {
    font-family: $fuente-secundaria;
    color: $color-textos;
}

.textCenter {
    text-align: center;
}

.size   {
    font-size: 40px;
}

.footerFont {
    font-family: $fuente-secundaria;
    text-align: center;
    color: $color-textos;
    font-size: 30px;
}

.listaTiendaOnline  {
    text-align: left;
    list-style-type: circle;
}

a   {
    text-decoration: none;
    color: $color-textos;
}

.parallax {
    background-image: url("../img/portada\ toien.jpg");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom:$separacion-margin*10;
}

img:hover   {
    transform: scale(1.5);
    transition-duration: 0.5s;
}

.datos1, .datos2, .datos3 {
    margin: $separacion-margin;
}

.datos4 {
    margin-top: $separacion-margin*2;
}

.flexTrabajos   {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.infoFlex   {
    display: flex;
    align-items: center;
}